{{- if .Values.job.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "alerthub.componentName" (dict "root" . "component" "init-job") }}
  namespace: {{ .Release.Namespace }}
spec:
  template:
    spec:
      initContainers:
        - name: wait-for-mysql
          image: {{ .Values.initContainers.wait.image.repository }}:{{ .Values.initContainers.wait.image.tag }}
          command:
            - sh
            - -c
            - until nc -z -v -w 30 {{ default (printf "%s-mysql" .Release.Name) .Values.job.mysql.host }} 3306; do echo "Waiting for MySQL..."; sleep 3; done;

      containers:
        - name: {{ include "alerthub.componentName" (dict "root" . "component" "init-job") }}
          image: {{ .Values.mysql.image.repository }}:{{ .Values.mysql.image.tag }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          env:
            - name: MYSQL_HOST
              value: {{ default (printf "%s-mysql" .Release.Name) .Values.job.mysql.host | quote }}
            - name: MYSQL_USERNAME
              value: {{ .Values.job.mysql.username | quote }}
            - name: MYSQL_PASSWORD
              value: {{ .Values.job.mysql.password | quote }}
            - name: MYSQL_DATABASE
              value: {{ .Values.job.mysql.database | quote }}
            - name: IMPORT_NOTICE_TEMPLATE
              value: {{ .Values.job.imports.noticeTemplate | quote }}
            - name: IMPORT_RULE_TEMPLATE_GROUPS
              value: {{ .Values.job.imports.ruleTemplateGroups | quote }}
            - name: IMPORT_RULE_TEMPLATES
              value: {{ .Values.job.imports.ruleTemplates | quote }}
            - name: IMPORT_TENANTS
              value: {{ .Values.job.imports.tenants | quote }}
            - name: IMPORT_TENANTS_LINKED_USERS
              value: {{ .Values.job.imports.tenantsLinkedUsers | quote }}
          volumeMounts:
            - name: config
              mountPath: /sql

          command: ["sh", "-c", "sh /sql/auto_import.sh"]
      volumes:
        - name: config
          configMap:
            name: {{ include "alerthub.componentName" (dict "root" . "component" "init-config") }}
      restartPolicy: OnFailure
{{- end }}